In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from konlpy.tag import Okt
from collections import Counter
import numpy as np
from PIL import Image

In [2]:
data = pd.read_excel('C:/Users/i5-8250U/Desktop/빅숙타/코로나19 이후 국민의 일상 변화 원본 데이터.xlsx')

In [3]:
df = data[['Q1_28']]

In [4]:
df.head()

   Q1_28
0      5
1      5
2      3
3      2
4      4

In [5]:
df.to_csv('d.txt',index=True)
keyword = open('d.txt' , encoding = 'utf-8').read()

In [ ]:
nouns_tagger = Okt()
nouns = nouns_tagger.nouns(keyword)

In [ ]:
nouns